apiVersion: apps/v1
kind: Deployment
metadata:
  name: mail
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      labels:
        app: mail
    spec:
      hostname: mail
      containers:
        - env:
            - name: CONSUL_HOST
              value: consul
            - name: CONSUL_PORT
              value: "8500"
            - name: MICRONAUT_SERVER_HOST
              value: mail
            - name: MICRONAUT_SERVER_PORT
              value: "8080"
          image: gcr.io/containers-java/mail
          name: mail
          imagePullPolicy: IfNotPresent
          resources: {}
      initContainers:
        - name: init-consul
          image: busybox
          command: ['sh', '-c', 'until nslookup consul; do echo waiting for consul; sleep 2; done;']
      restartPolicy: Always