replicaCount: 1

image:
  repository: gcr.io/containers-java/sbms-jib
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: "sbms"

service:
  type: LoadBalancer
  port: 8080
  containerPort: 8080

container:
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP

ingress:
  enabled: false